extends layout

block content
  table
    thead
    tbody
    tr
      td token 
      td=token
    tr
      td token type 
      td=token_type
    tr
      td scope 
      td=scope
    tr
      td patient
      td=patient
    tr
      td refresh token
      td=refresh
    tr
      td body
      td=body