extends layout

block content
  | You've launched your test app to the launch URL specified and have received back the iss URL which you'll use to query the metadata endpoint.
  | Once you've done that, you receive the OAuth2 auth and token endpoints which you'll call to actually authenticate using your client ID/secret.

  h3  Step 1
    table
      thead
      tbody
      tr
        td iss 
        td=iss
      tr
        td launch
        td=launch
      tr
        td path 
        td=path
      tr
        td auth
        td=auth
      tr
        td token
        td=token
    form(action='/launch/auth', method='post')
      input(type="hidden", name="authUrl" value=auth)
      input(type="hidden", name="launch" value=launch)
      input(type="hidden", name="token" value=token)
      button#btnSubmit(type="submit") Get auth code
