extends layout

block content
  table
    thead
    tbody
    tr
      td iss 
      td=iss
    tr
      td launch
      td=launch
    tr
      td path 
      td=path
    tr
      td auth
      td=auth
    tr
      td token
      td=token
  form(action='/launch/auth', method='post')
    input(type="hidden", name="authUrl" value=auth)
    input(type="hidden", name="launch" value=launch)
    input(type="hidden", name="token" value=token)
    button#btnSubmit(type="submit") Get auth code
